
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProdutoLabel" translate="xclientappApp.produto.home.createOrEditLabel">Create or edit a Produto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.produto.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.produto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodCodigo" for="field_prodCodigo">Prod Codigo</label>
            <input type="text" class="form-control" name="prodCodigo" id="field_prodCodigo"
                    ng-model="vm.produto.prodCodigo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodNome" for="field_prodNome">Prod Nome</label>
            <input type="text" class="form-control" name="prodNome" id="field_prodNome"
                    ng-model="vm.produto.prodNome"
                    required />
            <div ng-show="editForm.prodNome.$invalid">
                <p class="help-block"
                    ng-show="editForm.prodNome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodMarca" for="field_prodMarca">Prod Marca</label>
            <input type="text" class="form-control" name="prodMarca" id="field_prodMarca"
                    ng-model="vm.produto.prodMarca"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodPreco" for="field_prodPreco">Prod Preco</label>
            <input type="number" class="form-control" name="prodPreco" id="field_prodPreco"
                    ng-model="vm.produto.prodPreco"
                    required />
            <div ng-show="editForm.prodPreco.$invalid">
                <p class="help-block"
                    ng-show="editForm.prodPreco.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prodPreco.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodQtd" for="field_prodQtd">Prod Qtd</label>
            <input type="number" class="form-control" name="prodQtd" id="field_prodQtd"
                    ng-model="vm.produto.prodQtd"
                    required />
            <div ng-show="editForm.prodQtd.$invalid">
                <p class="help-block"
                    ng-show="editForm.prodQtd.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prodQtd.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="xclientappApp.produto.prodCor" for="field_prodCor">Prod Cor</label>
            <input type="text" class="form-control" name="prodCor" id="field_prodCor"
                    ng-model="vm.produto.prodCor"
                     />
        </div>

        <div class="form-group">
            <label translate="xclientappApp.produto.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.produto.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="xclientappApp.produto.categoria" for="field_categoria">Categoria</label>
            <select class="form-control" id="field_categoria" name="categoria" ng-model="vm.produto.categoriaId" ng-options="categoria.id as categoria.catNome for categoria in vm.categorias"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="xclientappApp.produto.fornecedor" for="field_fornecedor">Fornecedor</label>
            <select class="form-control" id="field_fornecedor" name="fornecedor" ng-model="vm.produto.fornecedorId" ng-options="fornecedor.id as fornecedor.fornNome for fornecedor in vm.fornecedors"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
